/* .form {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  width: 400px;
}

.form input {
  margin-bottom: 0.5em;
  height: 28px;
}

ul {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.list li {
  margin: 1em 0;
  padding: 1em;
  width: 500px;
  background-color: #1ed760;
  display: flex;
}

.list span {
  flex-grow: 1;
} */
